<h2>Create Teacher</h2>
<form method="post" action="@Url.Action("Create", "Teacher")">
    First Name: <input type="text" name="FirstName" required /><br />
    Last Name: <input type="text" name="LastName" required /><br />
    <input type="submit" value="Create" />
</form>
