<h2>Delete Student</h2>
<form method="post" action="@Url.Action("DeleteConfirmed", "Student")">
    <input type="hidden" name="id" value="@Model.StudentId" />
    Are you sure you want to delete @Model.FirstName @Model.LastName?
    <input type="submit" value="Delete" />
</form>
